/* Reset dan pengaturan dasar */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #2a67e9;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    text-align: center;
    margin: 1rem 0;
}

nav button {
    background-color: #4a32b6;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

nav button:hover {
    background-color: #2762b9;
}

main img{
    max-width: 500px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

section {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 1rem 0;
    max-width: 500px;
    text-align: center;
    width: 100%;
}

.member-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    padding: 1.5rem;
    max-width: 600px;
    width: 100%;
    text-align: left;
}

.member-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.member-card h3 {
    margin-bottom: 0.5rem;
}

footer {
    background-color: #1663bb;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

form input,
form textarea {
    width: 90%;
    max-width: 500px;
    margin: 0.5rem 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #1a729b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #095775;
}

/* Responsif */
@media (max-width: 768px) {
    section {
        padding: 1rem;
    }

    .member-card {
        padding: 1rem;
    }

    form input,
    form textarea {
        width: 100%;
    }
}
